.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario div{
    width: 100%;
}
.xp-line div{
    display: inline-block; width:40%;
}
.formulario .label-grande{
    width: 40%;
    display: inline-block;
    text-align: right;
}
.formulario .linha-formulario{
    margin-bottom: 15px;
}
@media screen and (max-width:419px){
    .formulario input{
        width: 90%;
        margin: 0 10px;
    }
    .formulario .label-grande{
        width: 100%;
        text-align: center;
    }
    .xp-line{
        flex-direction: column;
    }
    .xp-line div{
        display: flex;
        justify-content: center;
        width: 90%;
    }
}