body{
    margin: 0;
}
.cabecalho{
    background: white;
    padding: 15px;   
}
.cabecalho img{
    width: 150px;
    height: 35px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid blue;
    padding: 5px;
}
